body {
    font-family: "Ubuntu", "Libre Franklin", sans-serif;
    font-size: 1.3em;
    width: 80%;
    margin: auto;
}

h1, h2, h3{
    font-family: "Roboto Slab", sans-serif;
}

h1 {
    font-size: 2.8em;
    text-align: center;
}

a{
    text-decoration: none;
    target-name: new;
    target-new: tab;
}

button{
    border: none;
    padding: 0.3em 0.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: "Ubuntu", sans-serif;
}