<h1>Matthew St. Louis</h1>
<p>Welcome to my personal website! My name is Matthew St. Louis, and I am a student at
  <a href="https://www.wpi.edu/" target="_blank">Worcester Polytechnic Institute</a> studying Computer Science.</p>

<h2>About Me</h2>
<mat-list>
  <mat-list-item><a mat-flat-button color="default" href="../../assets/Resume.pdf" target="_blank" class="fake-button">
    <mat-icon>attachment</mat-icon> Résumé
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://github.com/mastlouis" target="_blank" class="fake-button">
    <mat-icon>link</mat-icon> GitHub
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://www.linkedin.com/in/matthew-st-louis" target="_blank" class="fake-button">
    <mat-icon>work</mat-icon> LinkedIn
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://wpi.joinhandshake.com/users/7835228" target="_blank" class="fake-button">
    <mat-icon>work</mat-icon> Handshake
  </a></mat-list-item>
</mat-list>
