<h1>Matthew St. Louis</h1>
<p>Welcome to my personal website! My name is Matthew St. Louis, and I am a student at
  <a href="https://www.wpi.edu/" target="_blank">Worcester Polytechnic Institute</a> studying Computer Science.</p>

<h2>About Me</h2>
<ul>
  <li><a href="../../assets/Matthew%20St.%20Louis%20-%20Resume.pdf" target="_blank">Résumé</a></li>
  <li><a href="https://github.com/mastlouis" target="_blank">GitHub</a></li>
  <li><a href="https://www.linkedin.com/in/matthew-st-louis" target="_blank">LinkedIn</a></li>
  <li><a href="https://wpi.joinhandshake.com/users/7835228" target="_blank">Handshake</a></li>
</ul>
