<h1>Renee St Louis</h1>
<p>Welcome to my personal website! My name is Renee St Louis, and I am a student at
  <a href="https://www.wpi.edu/" target="_blank">Worcester Polytechnic Institute</a> studying Computer Science.</p>

<h2>Quick Links</h2>
<mat-list class="quick-links">
  <mat-list-item><a mat-flat-button color="default" href="../../assets/Renee%20St%20Louis%20-%20Resume.pdf" target="_blank" class="fake-button">
    <mat-icon>attachment</mat-icon> Résumé
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://www.linkedin.com/in/matthew-st-louis" target="_blank" class="fake-button">
    <mat-icon>work</mat-icon> LinkedIn
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://github.com/rcstlouis" target="_blank" class="fake-button">
    <mat-icon>link</mat-icon> GitHub
  </a></mat-list-item>
  <mat-list-item><a mat-flat-button color="default" href="https://wpi.joinhandshake.com/users/7835228" target="_blank" class="fake-button">
    <mat-icon>work</mat-icon> Handshake
  </a></mat-list-item>
</mat-list>

<h2>Education</h2>
<ul>
  <li><strong>Worcester Polytechnic Institute (WPI)</strong></li>
  <ul>
    <li><strong>Master of Science</strong> in Computer Science</li>
    <li>Fall 2021/Spring 2022</li>
  </ul>
  <li><strong>Worcester Polytechnic Institute (WPI)</strong></li>
  <ul>
    <li><strong>Bachelor of Science</strong> in Computer Science</li>
    <li>Spring 2021, GPA 3.86/4.00</li>
  </ul>
</ul>

<h2>Skills</h2>
<ul>
  <li>Web Development</li>
  <ul>
    <li>Javascript, HTML, CSS, TypeScript, SCSS</li>
    <li>Angular, React</li>
    <li>Amazon Web Services, Google Cloud Platform</li>
    <li>Node, Node.js</li>
    <li>Postman</li>
  </ul>

  <li>Languages</li>
  <ul>
    <li>Python</li>
    <li>Java</li>
    <li>SQL</li>
  </ul>

  <li>Tools</li>
  <ul>
    <li>Visual Studio Code</li>
    <li>Jetbrains editors</li>
    <li>Git, GitHub</li>
    <li>Glitch</li>
  </ul>
</ul>

<h2>Experience</h2>
<ul>
  <li><strong>Software Engineering Internship with Vee24</strong></li>
  <ul>
    <li>May – August 2021 | Boston, MA</li>
  </ul>
  <li><strong>Software Engineering Internship with CommScope</strong></li>
  <ul>
    <li>June – August 2021 | Lowell, MA</li>
  </ul>
</ul>

<h2>Publications</h2>
<ul>
  <li>Quantifying and Improving Performance of Distributed Deep Learning with Cloud Storage</li>
  <ul>
    <li><a href="https://arxiv.org/abs/2108.06322" target="_blank">arXiv</a></li>
  </ul>
</ul>
